<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean id="producer" class="com.aliyun.openservices.ons.api.bean.ProducerBean"
        init-method="start" destroy-method="shutdown">
        <property name="properties">
            <props>
                <prop key="ProducerId">PID_XINDIAN_ZT_MATTER</prop> 请替换为自己的账户信息
                <prop key="AccessKey">z760kkGR0MTXsJ76</prop>
                <prop key="SecretKey">YyVNR6wp0YGOd36RwUabeqtUoOOKK2</prop>
                <prop key="NAMESRV_ADDR">10.16.11.37:9876</prop>
                <prop key="ONSAddr">http://mq.server.cloud.xian.gov.cn/rocketmq/nsaddr4client-internal
                </prop>
            </props>
        </property>
    </bean>
 -->
    <!-- 配置监听者 -->
    <bean id="msgListener" class="com.aliyun.openservices.ons.api.MessageListener" abstract="true"/>
    <bean id="catalogListener" class="com.aliyun.openservices.spring.example.utils.MessageListenerUtil" />

    <!--消费者配置信息 -->
    <bean id="consumer" class="com.aliyun.openservices.ons.api.bean.ConsumerBean"
          init-method="start" destroy-method="shutdown">
        <property name="properties">

            <props>
                <prop key="ConsumerId">CID_XINDIAN_ZT_MATTER</prop> <!--请替换为自己的账户信息 -->
                <prop key="AccessKey">z760kkGR0MTXsJ76</prop>
                <prop key="SecretKey">YyVNR6wp0YGOd36RwUabeqtUoOOKK2</prop>
                <prop key="NAMESRV_ADDR">10.16.11.37:9876</prop>
                <!--将消费者线程数固定为50个 <prop key="ConsumeThreadNums">50</prop> -->
                <prop key="ONSAddr">http://mq.server.cloud.xian.gov.cn/rocketmq/nsaddr4client-internal
                </prop>
            </props>
        </property>
        <property name="subscriptionTable">

            <map>
                <entry value-ref="catalogListener">
                    <key>
                        <bean class="com.aliyun.openservices.ons.api.bean.Subscription">
                            <property name="topic" value="DEVZT_ZT_AUTHORITY_DATASEND_TOPIC" />
                            <property name="expression" value="*" />
                            <!--expression即Tag，可以设置成具体的Tag，如 taga||tagb||tagc，也可设置成*。 *仅代表订阅所有Tag，不支持通配 -->
                        </bean>
                    </key>
                </entry>
                <!--更多的订阅添加entry节点即可 -->
            </map>
        </property>
    </bean>

</beans>